<section class="sidebar">
  <p style="padding-top:5px; color:white">R.R.G.S.</p>

  <ul>
    <a href="/" {% if page.url == "/"%}class="active"{% endif %}>
      <li>Type</li>
    </a>
    <a href="/sites" {% if page.url == "/sites"%}class="active"{% endif %}>
      <li>Sites</li>
    </a>
    <a href="/inspo" {% if page.url == "/inspo"%}class="active"{% endif %}>
      <li>Inspo</li>
    </a>
    <a href="/words" {% if page.url == "/words"%}class="active"{% endif %}>
      <li>Words</li>
    </a>
  </ul>

  <a class="credit" target="_blank" href="https://oliverengel.com/">Made by<br>Oliver</a>

</section>
