---
layout: compress
---

<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="en">

  {% include head.html %}

  <body>

    <svg id="fader"></svg>

    <div class="color-bar"></div>


    {% include sidebar.html %}

    <section class="content">

      {% include mobile-header.html %}

      <div class="main-content">

        <div class="entry-group">

          {{content}}

        </div>
      </div>

    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/assets/js/scripts.js"></script>
    <script src="/assets/js/baffle.min.js"></script>


  </body>

</html>
